@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  --bg-primary: #333c5c;
  --bg-secondary: #b0b9d4;
  --text-primary: #ffead6;
  --text-secondary: #040014;
  --accent: #ee6958;
}
body {
  height: 100vh;
  background: var(--bg-primary);
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  color: var(--text-primary);
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--bg-secondary);
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: var(--text-primary);
}

.navbar ul li:last-child a {
  margin: 0;
}

.hire-btn {
  background: var(--accent);
  color: var(--text-primary);
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.hire-btn:hover {
  background: var(--bg-secondary);
  color: var(--bg-primary);
}

/* FUN FACTS */

main {
  margin: 60px 60px 200px;
}

main h1 {
  color: var(--text-primary);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 50px;
}

.fav-book-section {
  display: flex;
  align-items: center;
  margin: 0px 145px 50px;
  color: var(--text-primary);
  gap: 50px;
}

.fav-book-section h3 {
  color: var(--bg-secondary);
}

.fav-book-section .fav-title {
  font-weight: 600;
  font-style: italic;
}

.fav-book-section .purchase button {
  margin-top: 10px;
  background-color: var(--accent);
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.fav-book-section .purchase button:hover {
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  cursor: pointer;
}

.fav-book-section img {
  width: 220px;
  height: auto;
  object-fit: cover;
}

.favorite-second-row {
  display: flex;
  justify-content: space-evenly;
  color: var(--text-primary);
  margin: 100px 0px;
}

.favorite-second-row h3 {
  color: var(--bg-secondary);
}

.favorite-second-row .fav-title {
  font-weight: 600;
  font-style: italic;
}

.fav-audio-section audio {
  margin-top: 10px;
}

.fav-audio-section .listen button {
  margin-top: 10px;
  background-color: var(--accent);
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.fav-audio-section .listen button:hover {
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  cursor: pointer;
}

.fav-icecream-section img {
  margin-top: 10px;
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.fav-tv-section iframe {
  margin-top: 10px;
  width: 300px;
  height: auto;
  border: none;
}

/* FOOTER */

footer {
  background-color: var(--bg-secondary);
  padding: 40px 60px;
}

footer .cols {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .cols .copyright h1 {
  font-size: 32px;
  color: var(--text-secondary);
  font-weight: 600;
}

footer .cols .copyright p {
  color: var(--text-secondary);
}

footer .cols .links h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .links ul {
  list-style: none;
}

footer .cols .links li a {
  text-decoration: none;
  color: var(--text-pr);
  transition: color 0.3s ease;
}

footer .cols .links a:hover {
  color: var(--text-primary);
  cursor: pointer;
}

footer .cols .socials h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .socials ul {
  list-style: none;
}

footer .cols .socials a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: color 0.3s ease;
}

footer .cols .socials a:hover {
  color: var(--text-primary);
  cursor: pointer;
}

footer .cols .email h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .email a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .cols .email a:hover {
  color: var(--text-primary);
  cursor: pointer;
}
