@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  --bg-primary: #333c5c;
  --bg-secondary: #b0b9d4;
  --text-primary: #ffead6;
  --text-secondary: #040014;
  --accent: #ee6958;
}

body {
  height: 100vh;
  background: var(--bg-primary);
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  color: var(--text-primary);
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--bg-secondary);
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: var(--text-primary);
}

.navbar ul li:last-child a {
  margin: 0;
}

.hire-btn {
  background: var(--accent);
  color: var(--text-primary);
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.hire-btn:hover {
  background: var(--bg-secondary);
  color: var(--bg-primary);
}

/* MAIN */
main {
  padding: 60px 100px 50px;
  color: var(--text-primary);
  position: relative;
}

main h1 {
  color: var(--text-primary);
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 50px;
}

main h3 {
  color: var(--bg-secondary);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.resume-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  gap: 50px;
}

.resume-info .col-2 {
  width: 250px;
}

.resume-info .contact i {
  color: var(--accent);
}

.experience {
  margin-bottom: 25px;
}

.experience h5 {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
}

.experience ul {
  margin-left: 50px;
  margin-bottom: 5px;
}

.experience ul li {
  color: var(--text-primary);
  font-size: 16;
}

.experience ul li::marker {
  color: var(--accent);
}

.education {
  margin-bottom: 25px;
}

.education th,
.education td {
  text-align: left;
}

.education .table-headings th:last-of-type {
  padding: 0px 10px;
}
.education td:last-of-type {
  padding: 0px 10px;
}

.hobbies {
  margin-bottom: 25px;
}

/* FOOTER */

footer {
  background-color: var(--bg-secondary);
  padding: 40px 60px;
}

footer .cols {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .cols .copyright h1 {
  font-size: 32px;
  color: var(--text-secondary);
  font-weight: 600;
}

footer .cols .copyright p {
  color: var(--text-secondary);
}

footer .cols .links h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .links ul {
  list-style: none;
}

footer .cols .links li a {
  text-decoration: none;
  color: var(--text-pr);
  transition: color 0.3s ease;
}

footer .cols .links a:hover {
  color: var(--text-primary);
  cursor: pointer;
}

footer .cols .socials h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .socials ul {
  list-style: none;
}

footer .cols .socials a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: color 0.3s ease;
}

footer .cols .socials a:hover {
  color: var(--text-primary);
  cursor: pointer;
}

footer .cols .email h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .email a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .cols .email a:hover {
  color: var(--text-primary);
  cursor: pointer;
}
