@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  --bg-primary: #333c5c;
  --bg-secondary: #b0b9d4;
  --text-primary: #ffead6;
  --text-secondary: #040014;
  --accent: #ee6958;
}
body {
  height: 100vh;
  background: var(--bg-primary);
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  color: var(--text-primary);
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--bg-secondary);
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: var(--text-primary);
}

.navbar ul li:last-child a {
  margin: 0;
}

.hire-btn {
  background: var(--accent);
  color: var(--text-primary);
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.hire-btn:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

/* HERO SECTION */

.main {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  margin-bottom: 50px;
}

.main h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main blockquote {
  font-size: 16px;
  margin-bottom: 10px;
}

.main span {
  color: var(--bg-secondary);
}

.main .hero-img {
  margin-top: 20px;
}
.main .hero-img img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 10%;
  margin-bottom: 30px;
}

.main .hi-btn button {
  background: var(--accent);
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.3s ease;
  width: 150px;
}

.main .hi-btn button:hover {
  background-color: var(--bg-secondary);
  cursor: pointer;
  color: var(--text-secondary);
}

/* ABOUT ME */
.about {
  margin: 0px 60px 150px 60px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.about-title {
  color: var(--bg-secondary);
  font-size: 24px;
  font-weight: 600px;
  margin: 0 0 20px 65px;
}

.left-col-about img {
  width: 300px;
  border-radius: 10%;
}

.middle-col-about p {
  color: var(--text-primary);
  padding-bottom: 10px;
}

.middle-col-about p a {
  text-decoration: none;
  color: var(--bg-secondary);
  transition: color 0.3s ease;
}

.middle-col-about p a:hover {
  color: var(--accent);
}

.right-col-about {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  background-color: var(--bg-secondary);
  padding: 20px;
  border-radius: 20px;
  color: var(--text-secondary);
  width: 210px;
}

progress {
  accent-color: var(--accent);
}

/* FOOTER */

footer {
  background-color: var(--bg-secondary);
  padding: 40px 60px;
}

footer .cols {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer .cols .copyright h1 {
  font-size: 32px;
  color: var(--text-secondary);
  font-weight: 600;
}

footer .cols .copyright p {
  color: var(--text-secondary);
}

footer .cols .links h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .links ul {
  list-style: none;
}

footer .cols .links li a {
  text-decoration: none;
  color: var(--text-pr);
  transition: color 0.3s ease;
}

footer .cols .links a:hover {
  color: var(--text-primary);
  cursor: pointer;
}

footer .cols .socials h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .socials ul {
  list-style: none;
}

footer .cols .socials a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: color 0.3s ease;
}

footer .cols .socials a:hover {
  color: var(--text-primary);
  cursor: pointer;
}

footer .cols .email h4 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
}

footer .cols .email a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .cols .email a:hover {
  color: var(--text-primary);
  cursor: pointer;
}
